05MAY: https://www.kaggle.com/gouthamr92/50-startups/data

** Recap:

Linear Regression:
1. Load data
2. Transform
3. Variable [independent (X) and dependent (y) variable]
4. Prepare train and test set
5. Import model
6. Fit on training data
7. Predict on test data

** Data preprocessing

1. Lable encoding [ sklearn: lable encoder, onehot encoder, pandas: pd.get_dummies]
2. cleaning missing values [pandas: fillna, sklearn: imputer]
3. feature scaling

Linear regression:
USA_housing dataset >> 

simple linear regression: y=a+bx
multiple linear regression: y=a+b1X1+b2X2+....+bnXn
polynomical regression: y=a+b1X1+b2+X1^2+b3X1^3+...+bnXn^n [diesese spread, tissue growth]

linear regression model >> output is a striaght line
Polynomical regression >> not a straight line

1. ploynomial regression is a special case of linear regression. Why?? [homework]
2. try get_dummies on 50_startup state column.
3. prepare baseline model for USA_housing >> portfolio project

non-linear regression model [random forest, KNN, SVR], Evaluation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load data

In [3]:
startup=pd.read_csv('50_Startups.csv')

In [4]:
startup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
startup.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [6]:
startup['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [7]:
startup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB

In [8]:
# prepare independent (X) and dependent (y) variable

In [9]:
X=startup[['R&D Spend', 'Administration', 'Marketing Spend']]

In [10]:
y=startup['Profit']

In [11]:
# lable encoding for categorical variable
X

    R&D Spend  Administration  Marketing Spend
0   165349.20       136897.80        471784.10
1   162597.70       151377.59        443898.53
2   153441.51       101145.55        407934.54
3   144372.41       118671.85        383199.62
4   142107.34        91391.77        366168.42
5   131876.90        99814.71        362861.36
6   134615.46       147198.87        127716.82
7   130298.13       145530.06        323876.68
8   120542.52       148718.95        311613.29
9   123334.88       108679.17        304981.62
10  101913.08       110594.11        229160.95
11  100671.96        91790.61        249744.55
12   93863.75       127320.38        249839.44
13   91992.39       135495.07        252664.93
14  119943.24       156547.42        256512.92
15  114523.61       122616.84        261776.23
16   78013.11       121597.55        264346.06
17   94657.16       145077.58        282574.31
18   91749.16       114175.79        294919.57
19   86419.70       153514.11             0.00
20   76253.86       113867.30        298664.47
21   78389.47       153773.43        299737.29
22   73994.56       122782.75        303319.26
23   67532.53       105751.03        304768.73
24   77044.01        99281.34        140574.81
25   64664.71       139553.16        137962.62
26   75328.87       144135.98        134050.07
27   72107.60       127864.55        353183.81
28   66051.52       182645.56        118148.20
29   65605.48       153032.06        107138.38
30   61994.48       115641.28         91131.24
31   61136.38       152701.92         88218.23
32   63408.86       129219.61         46085.25
33   55493.95       103057.49        214634.81
34   46426.07       157693.92        210797.67
35   46014.02        85047.44        205517.64
36   28663.76       127056.21        201126.82
37   44069.95        51283.14        197029.42
38   20229.59        65947.93        185265.10
39   38558.51        82982.09        174999.30
40   28754.33       118546.05        172795.67
41   27892.92        84710.77        164470.71
42   23640.93        96189.63        148001.11
43   15505.73       127382.30         35534.17
44   22177.74       154806.14         28334.72
45    1000.23       124153.04          1903.93
46    1315.46       115816.21        297114.46
47       0.00       135426.92             0.00
48     542.05        51743.15             0.00
49       0.00       116983.80         45173.06

In [12]:
# Prepare train and test set

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=12)
# training+testing=100% >> trainin >>75%

In [15]:
# Import model

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
reg=LinearRegression()

In [18]:
# Fit model
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

a+b1*165349.20+b2*136897.80+b3*471784.10=192261.83(y)
b1=10, b2=1, b3=5

In [20]:
# predict
y_pred=reg.predict(X_test)

In [23]:
y_pred

array([100741.3307628 ,  56435.61048905, 159846.5995856 ,  75035.62401062,
        75177.29348594, 101149.00888754, 117089.72567306,  49400.16082318,
       114703.78606791, 151522.31744387, 129984.29236472,  70179.22099208,
        90237.3866699 ])

** use spyder and explore variable explorer >> compare y_pred and y_test side by side

In [21]:
startup['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [22]:
# Label Encoding for categorical variables
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# LabelEncoder >> label as as 0...n
# OneHotEncoder >> create individual column for each category and add True(1) or False(0)
#Ex: NW: 0, Cal: 1, Flo: 2

0                
1
2
3
#onehotencoder >>0    1     2    3

3

# dummy variable trap
# if you have n number of dummy variable >> n-1
Dataset >> state >> NW and Cal

Cal: 1 >> it's not NW
Cal: 0 >> it's NW

In [33]:
le=LabelEncoder()

In [34]:
X['State']=le.fit_transform(X['State'])

C:\Users\Rajneesh Pandey\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
X.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1

In [36]:
ohe=OneHotEncoder(categorical_features=[3])

In [37]:
X=ohe.fit_transform(X).toarray()

In [1]:
# dummy variable trap [n-1] >> n is number of dummy variable
# col 1: california, col 2: florida, col 3: New york
# minimum 2 columns are required at any point of time to spot the state
X=X[:,1:]

NameError: name 'X' is not defined

In [2]:
X

NameError: name 'X' is not defined